/* CSS RESET
==================================================
================================================== */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: pt-sans-caption, sans-serif;
  font-size: 62.5%;
  max-width: 1450px;
  overflow-x: hidden; }

header, footer, .results-cards {
  margin: 0 15rem; }

a {
  color: #d8d8d8;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem; }
  a:hover {
    color: #fff; }
  a.current {
    color: #f5a623; }

.hero-search {
  height: 25rem;
  background-image: url("https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixlib=rb-0.3.5&s=33a645a517d3125d90484869bda0da56&auto=format&fit=crop&w=1650&q=80");
  background-position: top center;
  background-repeat: no-repeat; }

#result-h3 {
  width: auto;
  text-align: center;
  margin: 3rem auto -3rem 1rem;
  height: 7rem; }

.results {
  color: white;
  background-color: #fff;
  width: 100%;
  min-height: 35rem;
  margin: 0 15rem; }

.search {
  margin: 0 15rem; }
  .search form {
    margin: 3rem 10rem 3rem 10rem; }
    .search form label {
      background-color: #2b2b2b;
      padding: 1rem;
      color: #d8d8d8; }
    .search form input {
      margin-top: 1rem;
      width: 90%;
      height: 5rem;
      padding: 1rem;
      background-color: #d8d8d8; }
    .search form input::placeholder {
      font-size: 2.4rem; }
    .search form button {
      margin-left: -3rem;
      margin-top: -3rem;
      background-image: url("../search-assets/search.png");
      height: 5rem;
      width: 5rem;
      background-size: 4rem 4rem;
      background-position: center;
      background-repeat: no-repeat; }
    .search form button:hover {
      background-color: #f5a623; }

#loadMore {
  width: auto;
  text-align: center;
  margin: 5rem auto;
  height: 7rem; }
  #loadMore a {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 7rem auto;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: #f5a623;
    border-radius: 3px;
    color: #2b2b2b; }

@font-face {
  font-family: pt-sans;
  src: url("https://typekit.com/fonts/pt-sans"); }

h1 {
  font-size: 3.6rem; }

h2 {
  color: #fff;
  opacity: .5;
  font-size: 1.4rem; }

h3 {
  font-size: 1.4rem;
  float: left;
  display: inline-block;
  color: #fff;
  background-color: #2b2b2b;
  padding: 1rem;
  margin: 0 15rem; }

h4 {
  color: #f5a623;
  font-weight: 900;
  font-size: 1.4rem; }

p {
  color: #fff;
  opacity: .5;
  font-size: 1.2rem; }

.header {
  background-image: linear-gradient(#2b2b2b, rgba(43, 43, 43, 0.3));
  height: 10rem; }

header {
  color: #fff;
  text-align: center;
  position: relative; }
  header h1 {
    float: left;
    padding: 2.5rem 0; }
  header nav {
    float: right; }
    header nav li {
      display: inline-block;
      padding: 5rem 0; }
  header::after {
    content: "";
    display: block;
    clear: both; }

.footer {
  background-color: #2b2b2b; }
  .footer footer {
    color: #fff;
    width: auto;
    padding: 3rem;
    text-align: center; }

.card {
  background-color: #2b2b2b;
  text-align: left;
  display: inline;
  width: 30rem;
  height: 60%;
  float: left;
  padding-bottom: 2rem;
  margin: 1rem; }
  .card img {
    padding: 0;
    height: 30rem;
    width: 100%; }
  .card div {
    height: 5rem;
    line-height: 2.5rem;
    padding-left: 1rem; }
