/* CSS RESET
==================================================
================================================== */
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption");
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 - Older browser support
================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 62.5%;
  max-width: 1450px;
  overflow-x: hidden; }

.hero-search {
  height: 25rem;
  background-image: url("https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixlib=rb-0.3.5&s=33a645a517d3125d90484869bda0da56&auto=format&fit=crop&w=1650&q=80");
  background-position: top center;
  background-repeat: no-repeat; }

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem; }
  .search-container form ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .search-container label {
    background-color: #2b2b2b;
    padding: 1rem;
    color: #d8d8d8; }
  .search-container input {
    margin-top: 1rem;
    min-width: 500px;
    padding: 2rem;
    background-color: #d8d8d8; }
    @media (max-width: 599px) {
      .search-container input {
        min-width: 250px; } }
  .search-container input::-webkit-input-placeholder {
    font-size: 2.4rem; }
  .search-container input:-ms-input-placeholder {
    font-size: 2.4rem; }
  .search-container input::-ms-input-placeholder {
    font-size: 2.4rem; }
  .search-container input::placeholder {
    font-size: 2.4rem; }
  .search-container button {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #d8d8d8;
    background-image: url("../assets/search.png");
    height: 5rem;
    width: 5rem;
    background-position: bottom;
    background-repeat: no-repeat; }

.searched-for {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%; }
  @media (max-width: 599px) {
    .searched-for {
      margin: 0; } }

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

h1 {
  font-size: 3.2rem; }

h2, h3, h4 {
  font-size: 1.4rem; }

h2, h3, p {
  color: #fff; }

h2, p {
  opacity: .5; }

h3 {
  padding: 1rem; }

h4 {
  color: #f5a623;
  font-weight: 900; }

p {
  font-size: 1.2rem; }

span {
  background-color: #2b2b2b;
  padding: 1rem;
  margin: .5rem; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(rgba(43, 43, 43, 0.1)));
  background-image: linear-gradient(#2b2b2b, rgba(43, 43, 43, 0.1));
  color: #fff; }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 599px) {
    header nav .links {
      display: none; } }
  header nav .hamburger {
    display: none; }
    @media (max-width: 599px) {
      header nav .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

footer {
  background-color: #2b2b2b;
  color: #fff;
  padding: 3rem;
  text-align: center; }

a {
  color: #d8d8d8;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem; }
  a:hover {
    color: #fff;
    cursor: pointer; }
  a.current {
    color: #f5a623; }

.spotify-link {
  padding: 3rem;
  text-align: center; }
  @media (max-width: 599px) {
    .spotify-link {
      min-width: 250px;
      background-color: #f5a623;
      border-radius: 3px;
      margin: 1.5rem;
      padding: 1.5rem; } }
  .spotify-link a {
    background-color: #f5a623;
    border-radius: 3px;
    color: #2b2b2b;
    font-weight: bold; }

button:hover {
  cursor: pointer; }

.card {
  background-color: #2b2b2b;
  margin: 1rem; }
  @media (max-width: 599px) {
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 300px; } }
  .card img {
    padding: 0;
    height: 250px;
    width: 250px; }
    @media (max-width: 599px) {
      .card img {
        height: 100px;
        width: 100px; } }
  .card div {
    line-height: 2.5rem;
    padding: 1rem; }
