// variables

$buttercup: #f5a623;
$mine-shaft: #2b2b2b;
$alto: #d8d8d8;
$white: #fff;

$font-stack-ptsans: pt-sans, sans-serif;
$font-stack-ptcaption: pt-sans-caption, sans-serif;

$font-size: 62.5%;
