// Header

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(rgba(43,43,43,1), rgba(43,43,43,.1));
  color: $white;

  & nav {

    & ul {
      display: flex;
    }

    .links {
      @include mq(small) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @include mq(small) {
        display: flex;
      }
    }
  }
}
