// Cards

.card {
  background-color: $mine-shaft;
	margin: 1rem;

  @include mq(small) {
    display: flex;
    min-width: 300px;
  }

  & img {
    padding: 0;
    height: 250px;
    width: 250px;

    @include mq(small) {
      height: 100px;
      width: 100px;
    }
  }

  & div {
    line-height: 2.5rem;
    padding: 1rem;
  }
}
