// Base

html {
  font-family: $font-stack-ptcaption;
  font-size: $font-size;
  max-width: 1450px;
	overflow-x: hidden;
}

.hero-search {
  height: 25rem;
  background-image: url("https://images.unsplash.com/photo-1470305585628-a7d2cb18efa2?ixlib=rb-0.3.5&s=33a645a517d3125d90484869bda0da56&auto=format&fit=crop&w=1650&q=80");
  background-position: top center;
  background-repeat: no-repeat;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 5rem;

  & form {
    & ul {
      display: flex;
    }
  }

  & label {
    background-color: $mine-shaft;
    padding: 1rem;
    color: $alto;
  }

  & input {
    margin-top: 1rem;
    min-width: 500px;
    padding: 2rem;
    background-color: $alto;

    @include mq(small) {
      min-width: 250px;
    }
  }

  & input::placeholder {
    font-size: 2.4rem;
  }

  & button {
    margin-top: 1rem;
    display: flex;
    background-color: $alto;
    background-image: url("../assets/search.png");
    height: 5rem;
    width: 5rem;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.searched-for {
  padding: 1rem 0;
  display: flex;
  margin-left: 10%;

  @include mq(small) {
    margin: 0;
  }
}

.results {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
