// Typography

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');

h1 {
  font-size: 3.2rem;
}

h2, h3, h4 {
  font-size: 1.4rem;
}

h2, h3, p {
  color: $white;
}

h2, p {
  opacity: .5;
}

h3 {
  padding: 1rem;
}

h4 {
  color: $buttercup;
  font-weight: 900;
}

p {
  font-size: 1.2rem;
}

span {
  background-color: $mine-shaft;
  padding: 1rem;
  margin: .5rem;
}
